.custom-navbar{
  background:rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
  transition: var(--transition-smooth);

}
.glass-panel {
  background: rgb(13, 3, 53);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}